.custom-scrollbar::-webkit-scrollbar {
	height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #d1d5db;
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: #a1a1aa;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}
